<strong>Oi {{ studentName }}! Bem-vindo ao Gympoint</strong>
<p>Obrigado por sua matrícula em nossa Academia</p>
<p>confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ planName }} <br />
  <strong>Data de ínicio: </strong> {{ startDate }} <br />
  <strong>Data de término: </strong> {{ endDate }} <br />
  <strong>Preço total: </strong> {{ totalPrice }}R$ <br />
  <strong>Preço mensal: </strong> {{ monthPrice }}R$ <br />
  <br />
</p>
<p>Vamos ajudar você a alcançar seus objetivos!!!</p>
